{
	"semi": true,
	"tabWidth": 4,
	"useTabs": true,
	"plugins": ["@prettier/plugin-php"],
	"printWidth": 100,
	"singleQuote": true,
	"arrowParens": "always",
	"trailingComma": "all",
	"bracketSpacing": true,
	"jsxBracketSameLine": true
}